*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("images/physical\ thearby\ -\ Copy.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
#nav-bar{
    list-style-type: none;
    background-color: #43b4a5e8;
    overflow: hidden;
    width: 100%;  
    position: fixed;
    top: 0;
    z-index: 1;
}
#nav-bar li{
    float: left;
}
#nav-bar li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 11px 55px;
    font-size: large;   
}
i{
    margin-right: 10px;
}
.search{
    margin-top: 11px;
    border-radius: 15px; 
    width: 80%; 
}
.fa-search{
    color: white;
}
/*hover on elements in nav bar*/
li a:hover{
    background-color: rgb(41 38 38 / 71%);
    transition-delay: 0.1s;
}
/*header*/
.heading{
    margin: 105px 310px;
    color: white;
    text-transform: uppercase;
}



.clinc {
    margin: 50px;
}
.clinc h2{
    color: white;
    font-size: xx-large;
    margin-top: 20px;
}
.clinc .map{
    width: 30%;
    margin-top: 59px;
}
.clinc a{
    text-decoration: none;
    color: white;
}
.clinc i{
    margin-left: 21px;
}
.title{
    transform: translateY(21px);
}

@media(max-width:700px){
    body{
        background-position: center;
        background-size: cover;
        
    }
    #nav-bar{
        width: 30%;  
        background-color: transparent;
        top: 0;
        position: relative;
    }
    #nav-bar li a{
        padding: 7px 22px;
        font-size: smaller;
    } 
    
    .heading{
        margin: 2px 1px 105px 2px;
        font-size: 13px;
        letter-spacing: 0;
        transform: translate(4px, 58px);
        background-color: #289898d9;
        padding: 16px;
        width: 85%;
        border-radius: 22px;
    }

    .clinc h2{
        font-size: 17px;
        transform: translateX(-52px);
    }
    .clinc .map{
        width: 74%;
        height: auto;
        margin-top: 59px;
    }
}
